{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">division</th>
        <th scope="col">district manager</th>
        <th scope="col">city manager</th>
        <th scope="col">weekday opening</th>
        <th scope="col">weekday closing</th>
        <th scope="col">sat opening</th>
        <th scope="col">sat closing</th>
        <th scope="col">sun opening</th>
        <th scope="col">sun closing</th>
      </tr>
    </thead>
    <tbody>
        {% for store in all_stores %}
      <tr>
       <td>{{ store.id }}</td>
       <td>{{ store.name }}</td>
       <td>{{ store.division }}</td>
       <td>{{ store.district_manager }}</td>
       <td>{{ store.city_manager }}</td>
       <td>{{ store.weekday_opening }}</td>
       <td>{{ store.weekday_closing }}</td>
       <td>{{ store.sat_opening }}</td>
       <td>{{ store.sat_closing }}</td>
       <td>{{ store.sun_opening }}</td>
       <td>{{ store.sun_closing }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
