{% extends 'base.html' %}

{% block content %}
    <div class="district_manager_area">
        <h1 class="bg-primary text-center text-light">District managers</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">store manager</th>
                <th scope="col">district manager</th>
                <th scope="col">Store Name</th>
            </tr>
            </thead>
            <tbody>
            {% for store in store_info %}
                <tr>
                    <td scope="col">{{ store.id }}</td>
                    <td scope="col">{{ store.store_manager_name }}</td>
                    <td scope="col">{{ store.district_manager.district_manager_name }}</td>
                    <td scope="col">{{ store.store.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
